<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: nav"></nav>

<h1>Add a review</h1>
<h2 th:text="${clinic} ? ${clinic.name} : 'Clinic not found'"></h2>

<th:block th:if="${clinic}">
    <form method="POST">
        <div class="rating">
            <label for="str1">☆</label>
            <input class="hide radio-btn" id="str1" type="radio" value="1" name="rating">

            <label for="str2">☆</label>
            <input class="hide radio-btn" id="str2" type="radio" value="2" name="rating">

            <label for="str3">☆</label>
            <input class="hide radio-btn" id="str3" type="radio" value="3" name="rating">

            <label for="str4">☆</label>
            <input class="hide radio-btn" id="str4" type="radio" value="4" name="rating">

            <label for="str5">☆</label>
            <input class="hide radio-btn" id="str5" type="radio" value="5" name="rating">
            <div class="clear"></div>
        </div>

        <input id="reviewText" th:field="${review.reviewText}"type="text">
        <label>Review Text</label>

        <button type="submit">Submit Rating</button>
    </form>
</th:block>
</body>
</html>
