<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: nav"></nav>

<header >
    <h1>Clinic Profile</h1>
</header>

<div class="cprofile row p-4 m-auto position-relative ">
  <div class="col-sm d-flex-row m-auto p-2">
    <h2>Clinic Name</h2>
    <p th:text="${clinic.name}"></p>
    <h2>Address</h2>
      <div>
        <p class="mb-1" th:text="${clinic.address}"></p>
        <p th:text="${clinic.city} + ', ' + ${clinic.state} + ' ' + ${clinic.zip}"></p>
      </div>
    <h2>Phone Number</h2>
    <p th:text="${clinic.phoneNumberToString()}"></p>
    <h2>Website</h2>
    <a th:href="@{${clinic.website}}">
      <p th:text="${clinic.website}"></p>
    </a>
  </div>
  <div class="col-sm">
    <div>
      <a th:href="@{'https://maps.google.com/?q=' + ' ' + ${clinic.address} + ' ' + ${clinic.city} + ' ' + ${clinic.state} + ' ' + ${clinic.zip}}">
        <img th:src="@{'https://maps.googleapis.com/maps/api/staticmap?center=' + ${clinic.address} + ${clinic.city} + ${clinic.state} + ${clinic.zip} + '&markers=' + ${clinic.address} + ${clinic.city} + ${clinic.state} + ${clinic.zip} + '&zoom=12&size=400x400&key=AIzaSyCjFOLSO6Os1tn4eSNktZ_tyKEm6yWUHh4'}">
      </a>
    </div>
  </div>

  <section>
    <div class="d-flex align-items-center mt-2">
      <h3 class="mb-0">Reviews</h3>
      <div th:if="${!(average == null)}"class="mx-2 d-flex align-items-center">
        <label class="fa fa-star fa-2x checked" ></label>
        <label class="fa fa-star fa-2x" th:classappend="${average} >= 2 ? 'checked' : ''"></label>
        <label class="fa fa-star fa-2x" th:classappend="${average} >= 3 ? 'checked' : ''"></label>
        <label class="fa fa-star fa-2x" th:classappend="${average} >= 4 ? 'checked' : ''"></label>
        <label class="fa fa-star fa-2x" th:classappend="${average} >= 5 ? 'checked' : ''"></label>
      </div>
      <div class="mx-2" th:text="${!(average == null)} ? '(' + ${average} + ') from ' + ${totalReviews} + ' review(s)' : 'No Reviews Yet'"></div>
    </div>
    <div th:if="${!session.isEmpty()} and ${!(review == null)}"><div th:replace="fragments :: add-review"></div></div>
    <div th:text="${clinic.getReviews().isEmpty()} ? 'No Reviews Yet' : ''"></div>
    <div class="d-flex justify-content-start mt-3" th:each="review : ${clinic.getReviews()}">
      <section class="d-flex justify-content-start flex-column py-3">
        <div class="d-flex justify-content-start">
          <label class="fa fa-star checked" ></label>
          <label class="fa fa-star" th:classappend="${review.reviewRating} >= 2 ? 'checked' : ''"></label>
          <label class="fa fa-star" th:classappend="${review.reviewRating} >= 3 ? 'checked' : ''"></label>
          <label class="fa fa-star" th:classappend="${review.reviewRating} >= 4 ? 'checked' : ''"></label>
          <label class="fa fa-star" th:classappend="${review.reviewRating} >= 5 ? 'checked' : ''"></label>
        </div>
        <div th:text="${review.reviewText} + ' -' + ${review.user.firstName}"></div>
      </section>
    </div>
</section>

</div>
</body>
</html>
