<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>
<header><h1>My Dashboard</h1></header>

<div th:replace="fragments :: add-clinic-instructions"></div>
<div th:replace="fragments :: dashboardHeader"></div>

<th:block th:if="${filteredRequests == 'all'}">
    <div th:replace="fragments :: allRequests"></div>
</th:block>

<th:block th:if="${filteredRequests == 'pending'}">
    <div th:replace="fragments :: pendingRequests"></div>
</th:block>

<th:block th:if="${filteredRequests == 'declined'}">
    <div th:replace="fragments :: declinedRequests"></div>
</th:block>

<th:block th:if="${filteredRequests == 'approved'}">
    <div th:replace="fragments :: approvedRequests"></div>
</th:block>



</body>
</html>
