<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>
<header><h1>My Dashboard (I am a pet owner)</h1></header>

<div th:replace="fragments :: add-clinic-instructions"></div>
<div class="container g-6">
    <h5>My requests to 'Add a Clinic':</h5>
    <p th:if="${requests.isEmpty()}">No requests yet.</p>
    <div>
        <th:block th:each="request : ${requests}">
            <table class="table table-sm table-light table-borderless">
                <tr>
                    <th class="shrink">Status: </th>
                    <td class="expand" th:text="${request.status}"></td>
                </tr>
                <tr>
                    <th class="shrink">Submitted On: </th>
                    <td class="expand"
                        th:text="${#dates.format(request.createdTimestamp, 'dd-MMMM-yyyy HH:mm:ss')}">
                    </td>
                </tr>
                <tr>
                    <th class="shrink">Clinic Name: </th>
                    <td class="expand" th:text="${request.name}"></td>
                </tr>
                <tr>
                    <th class="shrink">Address: </th>
                    <td class="expand" th:text="${request.address} + ' ' + ${request.city} + ', ' + ${request.state} + ' ' + ${request.zip}"></td>
                </tr>
                <tr>
                    <th class="shrink">Phone Number: </th>
                    <td class="expand" th:text="${request.phoneNumber}"></td>
                </tr>
                <tr>
                    <th class="shrink">Website: </th>
                    <td class="expand" th:text="${request.website}"></td>
                </tr>
                <tr>
                    <th class="shrink">Emergencies? </th>
                    <td class="expand" th:text="${request.emergency} == '1' ? 'Yes' : 'No'"></td>
                </tr>
            </table>
        </th:block>
    </div>

</div>

</body>
</html>
